# App execution port
PORT=8000

# Databse configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=identity_hub
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# Redis configuration
REDIS_URL=redis://localhost:6379

# Keys locations
JWT_PRIVATE_KEY_PATH=keys/private.pem
JWT_PUBLIC_KEY_PATH=keys/public.pem

# Redirect URLs
IDENTITY_HUB_HOME_PATH=http://localhost:4200/home
IDENTITY_HUB_LOGIN_PATH=http://localhost:4200/login
# Optional. If defined, authorize/login errors are redirected here.
# AUTH_ERROR_REDIRECT=http://localhost:4200/auth/error

# Environment
NODE_ENV=development

# Identity cookie settings
IDENTITY_COOKIE_SECURE=false

# Only for development, allow CORS from localhost:4200 (Angular app)
CORS_ORIGIN=http://localhost:4200

JWT_ISSUER=identity-hub
