PORT=8000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=identity-hub
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

REDIS_URL=redis://localhost:6379

JWT_PRIVATE_KEY_PATH=keys/private.pem
JWT_PUBLIC_KEY_PATH=keys/public.pem

IDENTITY_HUB_APPS_PATH=http://localhost:4200/apps
IDENTITY_HUB_LOGIN_PATH=http://localhost:4200/login 